* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #999;
}
/*.carousel-caption{*/
/*    display: block !important;*/
/*}*/
.left {
    margin-left: 40%;
}

.hover {
    padding: 3%;
    margin: 2%;
}

.hover:hover {
    background: rgba(238, 238, 238, 0.7);
    border-radius: 10px;
}

.hider1 {
    background: url("../img/download1.jpg") fixed no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 45vw;
}

.hider2 {
    background: url("../img/download2.jpg") fixed no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 45vw;
}

.border {
    border: white 2px solid;
}

.centre {
    margin-bottom: 15%;
}
.content1{
    font-size: 50px;
    text-align: left;
}
.centre11{
    width: 300px;
    text-align: left;
}

.centre1 {
    margin-bottom: 15%;
    margin-right: 40%;
    color: #343a40;
}
.btuum:hover {
    border: white 2px solid;
    color: black;
    background: rgba(102, 102, 102, 0.2);
}

.w500 {
    max-width: 80px;
    max-height: 80px;
    color: #ff3514;
}

.div {
    text-align: center;
}

.btuum {
    border-radius: 0;
    white-space: nowrap;
    font-weight: 800;
    background-color: rgb(41, 46, 49);
    color: #FFFFFF;
    outline: none;
    box-shadow: rgb(153 153 153) 0 0 0 0;
    text-align: left;
    margin-right: 85%;
}

.top-50 {
    margin-top: 15%;
    margin-bottom: 10%;
}

.bacrond {
    text-align: center;
    width: 430px;
    height: 600px;
    background-color: #f0f0f0;
    border-radius: 5%;
}
.book{
    width: 18rem;
    text-align: center;
}

.card22 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.hider3 {
    background: url("../img/img-5 (2).jpg") fixed no-repeat center center rgba(51, 0, 153, 0.9);
    background-size: cover;
    width: 100%;
    height: 300px;
}

.card {
    background-color: transparent;
}

.top-5000 {
    margin-top: 70px;
    margin-bottom: 50px;
}

.hidden {
    height: 50%;
}
.top-500 {
    margin-top: 8%;
}

.top555 {
    margin-bottom: 10%;
}

.whit {
    max-width: 500px;
    height: 200px;
}
.font{
    border: #0dcaf0 2px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 5% 0;
}

@media (max-width: 1200px) and (min-width: 768px) {
    .hider1 {
        background: url("../img/download1.jpg") fixed no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 120vw;
    }

    .hider2 {
        background: url("../img/download2.jpg") fixed no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 120vw;
    }
    .content1{
        font-size: 35px;
        text-align: left;
    }
    .centre {
        margin-bottom: 30%;
    }
    .centre1 {
        margin-bottom: 30%;
    }
    .card22 {
        display: grid;
        grid-template-columns: repeat(2,0fr);
        grid-gap: 1.5rem;
        width: 1000px;
        margin: auto;
    }
    .book-1{
        width: 900px;
        margin: auto;
    }
}
@media (max-width: 767px) {
    .hider1 {
        background: url("../img/download1.jpg") fixed no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 200vw;
    }

    .hider2 {
        background: url("../img/download2.jpg") fixed no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 200vw;
    }
    .centre {
        position: absolute;
    }

    .centre1 {
        margin-bottom: 15%;
        margin-right: 40%;
        color: #343a40;
    }
    .card22 {
        display: block;
        width: 305px;
        margin: auto;
    }
    .box1{
        margin-bottom: 20px;
    }
    .top-50{
        display: block;
    }
    .hider3 {
        background: url("../img/img-5 (2).jpg") fixed no-repeat center center rgba(51, 0, 153, 0.9);
        background-size: cover;
        width: 100%;
        height: 820px;
    }
    .top-5000 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

